.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.05); /* Ensure text contrast is good */
}

.logo-container {
    display: flex;
    justify-content: center; /* Center-aligns the logo */
    align-items: center;
    height: 105px; /* Example height */
    background-color: #ffffff; /* Example background color */
}

.nav_bar {
    position: absolute;
    top: 30px;
    right: 5%; /* Use right for better alignment consistency */
    overflow: hidden;
}

.form-container {
    max-width: 450px;
    background: #ffffff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center both horizontally and vertically */
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
}

.radio-toolbar {
    display: flex;
    gap: 10px; /* Consistent spacing between buttons */
    margin: 10px 0;
}

.radio-toolbar input[type="radio"] {
    opacity: 0; /* Hide the radio button */
    position: absolute; /* Prevent shifting layout */
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

.continue-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

